<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @score.name %>
</p>

<p>
  <strong>Completiontime:</strong>
  <%= @score.completiontime %>
</p>

<%= link_to 'Back', scores_path %>
